@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

p, h1{
margin: 60 auto;
padding-left: 17px;
text-align: center;
}


h1{
    color: rgb(255, 133, 22);
    font-family:'Jomhuria', cursive;
    font-style: italic;
    font-weight: bold;

    font-size: 60px;
}
